body {
  background-color: #b9b5b5;
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  color: #ff0000;
}

p {
  color: #00ff00;
  font-size: 1.5rem;
}

a {
  font-size: 2rem;
}

span {
  color: #ff7b00;
  font-size: 1rem;
}